@media (max-width: 1199.98px) {
  .account-table {
    font-size: 1.4rem !important;
  }
}

@media (max-width: 991.98px) {
  header.header {
    position: absolute;
    width: 100%;
    z-index: 1030;
    background-color: var(--white);
  }

  #main {
    padding-top: 7rem;
  }

  .home-banner .carousel-inner h1 {
    font-size: 3rem;
  }

  .offer-banner .carousel-inner h1 {
    font-size: 3rem !important;
  }

  .product-details-tabs .nav-pills .nav-link {
    padding: 1rem 2rem;
  }

  .top-categories {
    padding-top: 11rem !important;
    margin-bottom: -9rem;
  }

  .per-page-filter-area {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 767.98px) {
  #main {
    padding-top: 5rem;
  }
  .home-banner .carousel-inner h1 {
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .offer-banner .carousel-inner h1 {
    font-size: 2rem !important;
  }
  .payment-methods h1 {
    font-size: 3rem !important;
  }
  .clients-review h1 {
    font-size: 3rem !important;
  }
  .add-to-cart-bottom-banner {
    padding: 3rem;
  }
}

@media (max-width: 575.98px) {
  .card-item-single .card-item-info h3 {
    font-size: 1.4rem !important;
  }
  .card-item-single .card-item-info h4,
  .card-item-single .card-item-info .stars,
  .card-item-single .card-item-info button {
    font-size: 1.3rem !important;
  }
  .card-item-single .card-item-count {
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    width: 8rem;
  }
  .product-card img {
    max-height: 15rem !important;
  }
}

@media (max-width: 550px) {
  .mobile-menu {
    top: 5rem;
  }

  .sec-title {
    font-size: 2.5rem;
  }
  .add-to-cart-bottom-banner {
    padding: 2rem;
  }
  .home-banner .carousel-inner .carousel-caption {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 58%;
  }
  .header {
    padding: 1rem 0;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 55%;
  }
  .home-banner .carousel-inner h1 {
    font-size: 1.8rem;
  }
  .popular-brands h1 {
    font-size: 3.5rem !important;
  }
}
