* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  border-color: var(--brand-color);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.2;
}

p {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.2;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}
