:root {
  /* colors */
  --brand-color: #00bfff;
  --brand-color-2: #17afe2;
  --brand-color-light: #e0f7ff;
  --rating-color: #ff7c02;
  --text-color: #666666;
  --text-color-light: #f5f5f5;
  --text-color-dark: #313131;
  --white: #ffffff;
  --black: #000000;

  /* font */
  --font-inter: "Inter", sans-serif;
}
